html,body,p,h1,img,div,ul,li,h1,h2{
	padding: 0;
	margin: 0;
}
html,body{
	width: 100%;
	height:100%;
}
h1{
	color:#fff;
	background-color: #000;
	text-align: center;
}
h2{
	color:#333;
	padding-left: 20px;
	background: url("../images/left.png") no-repeat left center;
}
h3{
	color:#256012;
	padding-left: 20px;
	background: url("../images/h3.png") no-repeat left center;
}
.show{
	width: 98%;
	padding-left: 2%;
}
.show p{
	color:#333;
}
.show .po{
 	text-indent: 12px;
}
.show .pi{
	text-indent: 26px;
}
.bjax{
	width:800px;
	height: 400px;
	margin: 0 auto;
	background: url("../images/bjax.png") no-repeat top center;
}
.paohui{
	width:100%;
	height:300px;
}